In [1]:
import os
import pandas as pd

In [2]:
file = os.path.join('data', 'census.csv')

In [3]:
test = pd.read_csv(file)

In [4]:
test

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177,20.760234
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920,5.188679
2,50201,"Nevada, IA 50201, USA",8139,40.4,56619.0,28908,7.777368
3,84020,"Draper, UT 84020, USA",42751,30.4,89922.0,33164,4.392880
4,39097,"Louise, MS 39097, USA",495,58.0,26838.0,17399,34.949495
5,72315,"Blytheville, AR 72315, USA",24120,34.4,37044.0,19837,23.586235
6,5454,"Fairfax, VT 05454, USA",4754,38.7,74911.0,31192,2.692469
7,53816,"Mt Hope, WI 53816, USA",942,33.4,44375.0,18813,29.299363
8,5483,"Sheldon, VT 05483, USA",1481,35.9,65039.0,24743,7.494936
9,37345,"Huntland, TN 37345, USA",2155,46.0,38688.0,20549,15.684455
10,1922,"Byfield, MA 01922, USA",3025,44.4,109301.0,40983,2.181818
11,95237,"Lockeford, CA 95237, USA",3269,38.7,44542.0,22400,16.702355
12,12429,"Esopus, NY 12429, USA",273,38.7,114129.0,43122,0.000000
13,6516,"West Haven, CT 06516, USA",55349,36.9,52353.0,26602,11.042657
14,81087,"Vilas, CO 81087, USA",192,26.8,34500.0,13210,2.083333
15,5492,"Waterville, VT 05492, USA",727,41.0,53315.0,23399,12.104539
16,2543,"Woods Hole, MA 02543, USA",736,49.7,66250.0,50348,8.559783
17,6062,"Plainville, CT 06062, USA",17767,42.4,60630.0,32531,6.613384
18,95008,"Campbell, CA 95008, USA",45187,37.3,87204.0,44023,7.395932
19,4418,"Greenbush, ME 04418, USA",1632,42.0,37955.0,19692,17.769608
20,96818,"Honolulu, HI 96818, USA",51522,31.3,70850.0,26894,8.551687
21,87734,"Ocate, NM 87734, USA",190,60.4,42813.0,19060,44.736842
22,30564,"Murrayville, GA 30564, USA",3714,40.5,64213.0,23422,9.719978
23,23146,"Rockville, VA 23146, USA",3107,47.0,77207.0,37414,5.857741
24,85250,"Scottsdale, AZ 85250, USA",16653,48.6,59358.0,39968,7.788386
25,59529,"Hogeland, MT 59529, USA",143,57.2,115938.0,70966,1.398601
26,1430,"Ashburnham, MA 01430, USA",6119,42.4,83532.0,34454,6.896552
27,90003,"Los Angeles, CA 90003, USA",66200,26.2,29686.0,9963,39.021148
28,93925,"Chualar, CA 93925, USA",1708,32.5,70909.0,23642,7.142857
29,54229,"New Franken, WI 54229, USA",4123,40.4,68667.0,29538,5.918021
...,...,...,...,...,...,...,...
677,45328,"Gettysburg, OH 45328, USA",692,30.4,43750.0,14939,28.034682
678,68723,"Carroll, NE 68723, USA",513,51.2,59000.0,25617,5.653021
679,4622,"Cherryfield, ME 04622, USA",1480,40.8,40104.0,20084,17.770270
680,51049,"Quimby, IA 51049, USA",476,47.9,47847.0,22334,12.394958
681,77807,"Bryan, TX 77807, USA",10882,30.2,42154.0,19089,24.967837
682,60305,"River Forest, IL 60305, USA",11183,41.4,113317.0,62034,5.651435
683,47670,"Princeton, IN 47670, USA",12140,39.5,45915.0,23971,12.421746
684,78885,"Vanderpool, TX 78885, USA",106,55.5,80417.0,38706,4.716981
685,7603,"Bogota, NJ 07603, USA",8231,38.7,77821.0,31670,8.832463
686,84764,"Bryce, UT 84764, USA",163,27.0,38750.0,19698,24.539877
687,72680,"Timbo, AR 72680, USA",769,46.6,28750.0,23495,21.586476
688,85606,"Cochise, AZ 85606, USA",1426,53.4,27406.0,17731,25.245442
689,78122,"Leesville, TX 78122, USA",200,56.6,30610.0,20433,13.000000
690,5658,"Marshfield, VT 05658, USA",1505,41.6,43958.0,22443,17.674419
691,16665,"Newry, PA 16665, USA",291,43.3,27188.0,19095,19.243986
692,95246,"Mountain Ranch, CA 95246, USA",1207,52.8,47379.0,29646,5.219553
693,94556,"Moraga, CA 94556, USA",15064,47.4,120960.0,62600,4.155603
694,35951,"Albertville, AL 35951, USA",12839,35.7,37210.0,19602,20.912844
695,47967,"New Richmond, IN 47967, USA",924,35.5,53462.0,19191,9.632035
696,57105,"Sioux Falls, SD 57105, USA",21984,38.2,52255.0,30000,8.956514
697,64455,"Graham, MO 64455, USA",315,50.6,43542.0,25407,16.507937
698,24887,"Switchback, WV 24887, USA",125,14.8,NaN,4526,88.800000
699,47926,"Burnettsville, IN 47926, USA",932,35.9,50469.0,20121,8.690987
700,36701,"Selma, AL 36701, USA",22605,39.4,32136.0,20992,26.140234
701,59087,"Winnett, MT 59087, USA",506,48.3,41250.0,22816,10.276680
702,22952,"Lyndhurst, VA 22952, USA",2088,46.3,43095.0,23158,5.651341
703,59201,"Wolf Point, MT 59201, USA",5193,30.8,42699.0,17624,20.758714
704,92115,"San Diego, CA 92115, USA",61084,27.5,41866.0,21011,25.695763
705,28327,"Carthage, NC 28327, USA",15333,40.6,51609.0,23841,14.785104
706,38504,"Allardt, TN 38504, USA",1167,38.6,46786.0,19634,9.340189

In [11]:
test.to_json('test.json', orient='records', lines=False)

ValueError: Invalid value 'row' for option 'orient'